<h1>Welcome to {{title}}!</h1>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="item">
    <th mat-header-cell *matHeaderCellDef> Item </th>
    <td mat-cell *matCellDef="let menuItem"> {{menuItem.item}} </td>
  </ng-container>
  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef> Category </th>
    <td mat-cell *matCellDef="let menuItem"> {{menuItem.category}} </td>
  </ng-container>
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Price </th>
    <td mat-cell *matCellDef="let menuItem"> {{menuItem.price | currency}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Category</th>
      <th>Price</th>
    </tr>
    
  </thead>
  <tbody>
    <tr *ngFor="let menuItem of dataSource">
      <td>{{menuItem.item}}</td>
      <td>{{menuItem.category}}</td>
      <td>{{menuItem.price | currency}}</td>
    </tr>
  </tbody>
</table>
